.formio-choices.form-group:focus {
    color: #3e515b;
    background-color: #fff;
    border-color: #8ad4ee;
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #20a8d840;
}
.dropdown-menu.scrollable-dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
    li > a {
        cursor: pointer;
    }
}

.composite-element-placeholder {
    width: 18px;
    border-bottom: 2px solid var(--orange);
    border-top: 2px solid var(--orange);
    border-left: 2px solid var(--orange);
    .badge {
        position:relative;
        top: 32%;
        left:-100%;
    }
}
.form-control:disabled, .form-control[readonly] {
    background-color: var(--gray-100);
    color: var(--gray-200);
}